.add-article {
    color: red;
}
.border-article{
    border: 3px solid;
    border-color:dimgray;
}
.high-priority-article{
    color: darkred;
}
.medium-priority-article{
    color: yellow;
}
.low-priority-article{
    color: greenyellow;
}
.brief-name{
    text-align: center;
    padding: 10px 0 5px 10px;
}
.desc-article{
    text-align:center;
    padding: 10px 0 10px 5px;
}