.add-article {
    color: black;
}

/* рамка для блоков со статьями */
.border-article{
    border: 3px solid;
    border-color:dimgray;
}
/* стиль для отображения краткого заголовка в блоке статьи */
.brief-name{
    text-align: center;
    padding: 10px 0 5px 10px;
}
/* стиль для отображения описания в блоке статьи */
.desc-article{
    text-align:center;
    padding: 10px 0 10px 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:italic;
}
/* стиль для отображения даты в блоке статьи */
.date-article{
    text-align:end;
    opacity: 0.7;
}
/* стиль для отображения ссылки в блоке статьи */
.url-info{
    text-align:start;
    float:left;
}



