.u-block-0c36-5 {
  position: absolute;
  left: auto;
  top: auto;
  right: calc(((100% - 1140px) / 2)  + 477px);
  bottom: 9px;
}

.u-block-0c36-3 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
}

.u-block-0c36-4 {
  position: absolute;
  right: 0;
  width: 65px;
  height: 65px;
}

@media (max-width: 1199px) {
  .u-block-0c36-5 {
    right: calc(((100% - 940px) / 2)  + 377px);
  }
}

@media (max-width: 991px) {
  .u-block-0c36-5 {
    right: calc(((100% - 720px) / 2)  + 267px);
  }
}

@media (max-width: 767px) {
  .u-block-0c36-5 {
    right: calc(((100% - 540px) / 2)  + 177px);
  }
}

@media (max-width: 575px) {
  .u-block-0c36-5 {
    right: calc(((100% - 340px) / 2)  + 77px);
  }
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/Sochi.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/sochi1.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/sochi2.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/sochi3.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-1-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/sochi4.jpg");
  background-position: 50% 50%;
}

.u-section-1-5 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 239px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 940px;
}

.u-section-2 .u-text-1 {
  margin: 17px auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 200px;
  background-image: url("../images/20181028-131808-largejpg.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  min-height: 200px;
  background-image: url("../images/sochi_park1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 200px;
  background-image: url("../images/olympicpark.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  min-height: 200px;
  background-image: url("../images/nac_park_sochi1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 224px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  margin: 33px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  font-size: 1.4em;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 224px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0 10px;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  margin: 46px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  font-size: 1.4em;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 224px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin: 0 10px;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  margin: 46px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  font-size: 1.4em;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 224px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 0 10px;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  margin: 45px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-4 {
  font-size: 1.4em;
}

.u-section-2 .u-layout-wrap-2 {
  margin: 20px 0 60px;
}

.u-section-2 .u-image-5 {
  min-height: 200px;
  background-image: url("../images/dendarii.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  min-height: 200px;
  background-image: url("../images/seapark.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-10 {
  padding: 22px 30px;
}

.u-section-2 .u-image-7 {
  min-height: 200px;
  background-image: url("../images/rynok.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-image-8 {
  min-height: 200px;
  background-image: url("../images/hram.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-13 {
  min-height: 211px;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  margin: 0 10px;
}

.u-section-2 .u-btn-5 {
  border-style: none none solid;
  margin: 33px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-5 {
  font-size: 1.4em;
}

.u-section-2 .u-layout-cell-14 {
  min-height: 211px;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  margin: 0 10px;
}

.u-section-2 .u-btn-6 {
  border-style: none none solid;
  margin: 33px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-6 {
  font-size: 1.4em;
}

.u-section-2 .u-layout-cell-15 {
  min-height: 211px;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  margin: 0 10px;
}

.u-section-2 .u-btn-7 {
  border-style: none none solid;
  margin: 33px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-7 {
  font-size: 1.4em;
}

.u-section-2 .u-layout-cell-16 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-16 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  margin: 44px 10px 0;
}

.u-section-2 .u-btn-8 {
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-8 {
  font-size: 1.4em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-image-1 {
    min-height: 165px;
  }

  .u-section-2 .u-image-2 {
    min-height: 165px;
  }

  .u-section-2 .u-image-3 {
    min-height: 165px;
  }

  .u-section-2 .u-image-4 {
    min-height: 165px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 185px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 185px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 185px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 185px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    min-height: 165px;
  }

  .u-section-2 .u-image-6 {
    min-height: 165px;
  }

  .u-section-2 .u-image-7 {
    min-height: 165px;
  }

  .u-section-2 .u-image-8 {
    min-height: 165px;
  }

  .u-section-2 .u-layout-cell-13 {
    min-height: 174px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 174px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-15 {
    min-height: 174px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-16 {
    min-height: 165px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1858px;
  }

  .u-section-2 .u-image-1 {
    min-height: 253px;
  }

  .u-section-2 .u-image-2 {
    min-height: 253px;
  }

  .u-section-2 .u-image-3 {
    min-height: 253px;
  }

  .u-section-2 .u-image-4 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-image-5 {
    min-height: 253px;
  }

  .u-section-2 .u-image-6 {
    min-height: 253px;
  }

  .u-section-2 .u-image-7 {
    min-height: 253px;
  }

  .u-section-2 .u-image-8 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-15 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-16 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3860px;
  }

  .u-section-2 .u-image-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 380px;
  }

  .u-section-2 .u-image-4 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-8 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2591px;
  }

  .u-section-2 .u-image-1 {
    min-height: 239px;
  }

  .u-section-2 .u-image-2 {
    min-height: 239px;
  }

  .u-section-2 .u-image-3 {
    min-height: 239px;
  }

  .u-section-2 .u-image-4 {
    min-height: 239px;
  }

  .u-section-2 .u-image-5 {
    min-height: 239px;
  }

  .u-section-2 .u-image-6 {
    min-height: 239px;
  }

  .u-section-2 .u-image-7 {
    min-height: 239px;
  }

  .u-section-2 .u-image-8 {
    min-height: 239px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 919px;
}

.u-section-3 .u-text-1 {
  margin: 0 0 55px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 766px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 708px;
}

.u-section-4 .u-text-1 {
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 766px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 722px;
}

.u-section-5 .u-text-1 {
  margin: 0 0 31px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 766px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 710px;
}

.u-section-6 .u-text-1 {
  margin: 0 0 31px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 766px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 747px;
}

.u-section-7 .u-text-1 {
  margin: 0 0 31px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 766px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 776px;
}

.u-section-8 .u-text-1 {
  margin: 0 0 55px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 766px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 774px;
}

.u-section-9 .u-text-1 {
  margin: 0 0 32px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 766px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 794px;
}

.u-section-10 .u-text-1 {
  margin: 0 0 31px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 766px;
  }
}